.product-body{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-content: center;


  column-gap: 50px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .product-body{
        display: grid;
        grid-template-columns: auto;
      
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .product-body{
        display: grid;
        grid-template-columns: auto;
      
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .product-body{
        display: grid;
        grid-template-columns: auto auto;
      
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .product-body{
        display: grid;
        grid-template-columns: auto auto;
      
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .product-body{
        display: grid;
        grid-template-columns: auto auto auto;
      
    }
}